.cache
.unsaved
.user
private

*.DS_Store
*.bak
*.sublime-project
*.sublime-workspace

[Mm]etadata/Workspace.xml
[Aa]ssets/music
[Aa]ssets/sfx
[Aa]ssets/ost
[Bb]uild/Desktop/music.bank
[Bb]uild/Desktop/sfx.bank